<link href="/css/login-register.css" rel="stylesheet">

<a href="/profile{{id}}">
    <main class="form-signin w-50 mt-5 m-auto">
        <p>{{username}}</p>
        <p>{{email}}</p>
        <p>{{firstname}}</p>
        <p>{{lastname}}</p>
        <p>{{telephone}}</p>
    </main>
</a>