<link href="/css/login-register.css" rel="stylesheet">

<body class="text-center">
    <a href="/user/{{id}}">

    <main class="form-signin w-50 mt-5 m-auto">
        <form id="signup-form">
            <img class="mb-4" src="/assets/UrgentCareFavicon.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Please enter your information:</h1>

            <div class="form-floating">
                
                <label for="username-input-signup">Username</label>
                <p>{{username}}</p>
            </div>
            <div class="form-floating">
                
                <label for="email-input-signup">Email</label>
                <p>{{email}}</p>
            </div>
            <div class="form-floating">
            
                <label for="firstname-input-signup">First Name</label>
                <p>{{firstname}}</p>
            </div>
            <div class="form-floating">
             
                <label for="lastname-input-signup">Last Name</label>
                <p>{{lastname}}</p>
            </div>
            <div class="form-floating">
               
                <label for="tel-input-signup">Telephone Number</label>
                <p>{{telephone}}</p>
            </div>
          

            


        </form>
        </a>
    </main>
    <script src="/js/signup.js"></script>