<link href="/css/login-register.css" rel="stylesheet">

    <main class="form-signin w-50 mt-5 m-auto">
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.firstname}}</p>
        <p>{{user.lastname}}</p>
        <p>{{user.telephone}}</p>
    </main>
